.FirstBlock {
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center; 
    align-items: flex-end;
    margin-bottom: 85px;
}

.TextOfFirstBlock {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    width: 50%; 
    gap: 75px;
}

.imgFirstBlock {
    width: 388px;
    height: 481px; 
}


#mainTitle {
    width: 746px;
    height: 110px;
}

#sale {
    width: 323;
    height: 90px;
}
