.ArrowBlock {
    position: relative;
    height: 180px;
    width: 180px;
    background-color: var(--colorVanilla);
    border-radius: 35px;
  }
  
  .RightArrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 35px;
    width: 89px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  